%h2 I think you went west on the schuylkill instead of east.
%p
  %br
#schuylkill_sign{ :style => 'float: left; width: 25%; margin-left: 8px' }
  %img{ :src => '/images/I-76.png', :alt => 'Schuylkill Logo' }
#exits{ :style => 'float: right; width: 70%' }
  %p The exit your looking for doesn't exist, perhaps one of these will interest you:
  %ul
    %li
      %a{ :href => 'http://edbotz.us'} who?
    %li
      %a{ :href => 'http://twitter.com/ebot'} twitter
    %li
      %a{ :href => 'http://github.com/ebot'} github
    %li
      %a{ :href => 'http://flickr.com/ebot'} flickr
#clear{ :style => 'clear: both' }
