:textile
  h2. About Me

  My name is Ed and I am a programmer focusing on database, java, ruby, and web development.   I am a "4 for 4":/4for4 sports fan.

  h2. Projects

  Open source projects that I am working on:

  * "sql-server":http://ebot.github.com/sql-server/ - Fast and easy Microsoft Sql Server querying with ruby on Windows.

  h2. Stuff I Built

  Web sites that I have built/designed:

  * "Flyers All Time Roster":http://flyers.edbotz.us
  * "Stanley's Summer Adventure":http://stan.edbotz.us

:javascript
  document.getElementById('page_name').id='git_hub'
