:textile
  h2. About Me

  My name is Ed and I am a programmer focusing on database, java, ruby, and web development.   I am a "4 for 4":/4for4 sports fan.

  h2. Projects

  Open source projects that I am working on:

  * "hiking":http://ebot.github.com/hiking/ - a tiny xpath query analyzer written with the camping micro-framework.
  * "sql-server":http://ebot.github.com/sql-server/ - Fast and easy Microsoft Sql Server querying with ruby on Windows.

  h2. Web Sites

  Web sites that I have helped build and/or design:

  * "Uncle Scott's Steakhouse":http://www.unclescottssteakhouse.com

:javascript
  document.getElementById('page_name').id='git_hub'